#close {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}

#rateModal {
    z-index: 1000;
    justify-content: center;
    position: fixed;
    width: 70%;
    height: 70%;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(87, 255, 216, 0.851);
    box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.5);
    border-radius: 4%;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

#modalContent {
    align-items: center;
    color: aliceblue;
}

#rateHeader {
    color: black;
    padding-top: 40px;
    font-weight: 300;
    font-size: 2em;
    margin-bottom: 0px;
}

#rateButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 40px;
}

#rateForm {
    margin-bottom: 60px;
    align-content: center;
}

#selectedNum {
    color: rgb(0, 0, 0);
    font-size: 3em;
}

#markKnown {
    color: black;
    font-size: 1.2em;
}

#submit {
    margin-left: 50px;
}

.scoreButton {
    border-radius: 30%;
    width: 50px;
    height: 50px;
    margin: 4px;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease;
}

.scoreButton:hover {
    box-shadow: 2px 2px 5px rgba(0, 138, 92, 0.795);
}

#score1 {
    background-color: rgb(212, 0, 0);
}

#score2 {
    background-color: rgb(255, 98, 0);
}

#score3 {
    background-color: rgb(255, 140, 0);
}

#score4 {
    background-color: rgb(255, 197, 7);
}

#score5 {
    background-color: rgb(255, 247, 0);
}

#score6 {
    background-color: rgb(246, 255, 0);
}

#score7 {
    background-color: rgb(195, 255, 0);
}

#score8 {
    background-color: rgb(136, 255, 0);
}

#score9 {
    background-color: rgb(13, 253, 0);
}

#score10 {
    background-color: rgb(0, 255, 242);
}