#headerText {
    display: flex;
    width: 1450px;
    height: 36px;
    padding: 31px 56px;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #5D5D5D;
    background: #FFF;
}

#mainstreamDashboard {
    color: #530BAE;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: fixed 93px 19px;
    padding-left: 4px;
}