#dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#dashboard > div {
    transition: flex-basis 0.3s ease;
}

#expand {
    background: none;
    border: none;
    font-size: 3em;
    cursor: pointer;
    z-index: 1;
    color: rgb(0, 0, 0);
}

#expand:focus {
    outline: none;
}

.playlistHeader {
    color: rgb(0, 0, 0);
    font-size: 1.7em;
    margin-bottom: 0px;
}

.playlistHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
}

.score {
    display: flex;
    flex-direction: row;
}

.scoreVal {
    font-weight: bold;
}

.space {
    color: white;
}

#leaderboardLink {
    color: #5800b1;
    text-align: center;
}

#leaderboardLink:hover {
    text-shadow: 2px 2px 5px #fffffff7;
}

a {
    text-decoration: none;
}