#leaderboardComponent {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

#lbVid {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 3000px;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

#lbHeader {
    color: rgba(255, 255, 255, 0.901);
    font-size: 40px;
    background: rgba(31, 177, 255, 0);
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#lbPlace {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 15px;
}

#lbUser {
    margin: 0;
    color: white;
}

#lbScore {
    display: flex;
    justify-content: center;
    padding: 16px;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: rgb(0, 255, 183);
    height: 15px;
    width: 15px;
    text-align: center;
}

#lbScoreVal {
    margin: 0px;
    color: rgb(0, 69, 46);
    font-weight: 600;
}

#lbEntries {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0);
    height: 100%;
    padding-bottom: 100px;
}

#lbBack {
    cursor: pointer;
    color: white;
    background-color: rgb(53, 0, 175);
    border: none;
    padding: 8px 15px;
    border-radius: 3px;
    box-shadow: 2px 2px 17px 2px rgba(255, 255, 255, 0.498);
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 15px;
    transition: 0.4s ease;
}
    
#lbBack:hover {
    background-color: rgb(104, 55, 217);
}