#createLogin {
    z-index: 1000;
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(148, 219, 255);
    box-shadow: 0px 0px 10px rgba(72, 72, 72, 0.5);
    border-radius: 4%;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#loginContent {
    display: block;
    text-align: center;
    padding-top: 6%;
}

#loginTitle {
    margin-top: 10%;
    color: white;
    font-size: 2.4em;
}

.formInput {
    border-radius: 7px;
    border: rgb(181, 160, 249);
    padding: 2px;
}

.loginInput {
    color: rgb(255, 255, 255);
    margin: 8px;
    font-size: 1.3em;
}

#loginSubmit {
    margin-top: 10%;
}

.formSubmit {
    color: white;
    background-color: rgb(74, 167, 237);
    cursor: pointer;
    padding: 8px;
    font-size: 1em;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: rgb(181, 160, 249);
    width: 130px;
}

.formSubmit:hover {
    background-color: rgba(117, 20, 208, 0.571);
}

#or {
    color: white;
}

#welcome {
    font-size: 4em;
    display: inline;
    color: white;
    background: linear-gradient(to right, #bc7aff, #369aff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-emphasis-color: transparent;
    text-align: center;
    text-shadow: rgba(239, 237, 255, 0.614) 1px 0 10px;
}

#welcomeMain {
    text-decoration: line-through;
    text-shadow: rgb(255, 255, 255) 1px 0 9px;
    font-size: 3.8em;
}