iframe {
    width: 160%;
    height: 180%;
}

#songs {
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
}

#playlistContainer {
    height: 60%;
}

#playlistEntry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-bottom: 20px;
}

#deleteSong {
    color: white;
    border-radius: 1px;
    border: 1px solid #5D5D5D;
    background: #530BAE;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    width: 100px;
    height: 30px;
    padding: 11px 17px;
    margin-left: 380px;
    margin-top: 130px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}