#friendPlaylistContainer {
    margin-left: 17%;
}

#songsWrapper {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#friendPlaylistEntry {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 450px;
    height: 300px;
    margin-bottom: 40px;
    margin-right: 50px;
}

#unfollowContainer {
    display: flex;
    align-items: left;
}

#unfollowButton {
    padding: 6px 10px;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    border-radius: 4px;
    border: 0px #5D5D5D;
    background: #FFF;
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: 0.2s ease;
}

#unfollowButton:hover {
    background-color: #540bae;
    color: white;
}

#loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.progress-bar {
    position: relative;
    width: 50px;
    height: 50px;
}

.circle {
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 5px #e1e1e1b8;
    border-top-color: #530BAE;
    border-radius: 50%;
}

.border {
    width: 100%;
    transform: rotate(135deg);
    animation: spin 1s steps(2) .2s infinite;
    -webkit-animation: spin 1.3s linear infinite;

}


@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}