#songsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

#loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}


.progress-bar {
    position: relative;
    width: 50px;
    height: 50px;
}

.circle {
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 5px #e1e1e1b8;
    border-top-color: rgb(0, 255, 183);
    border-radius: 50%;
}

.border {
    width: 100%;
    transform: rotate(135deg);
    animation: spin 1s steps(2) .2s infinite;
    -webkit-animation: spin 1.3s linear infinite;

}


@-webkit-keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}