#viewFriendsContainer {
    width: 100%;
    text-align: center;
    background-color: #F5F0FF;
    padding-top: 34.5px;
    height: 100%;
}

#discoverHeader {
    color: #181818;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#searchUsersContainer {
    background-color: #F5F0FF;
    padding: 20px;
    padding-bottom: 60px;
}

#searchUsersForm {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchUsersPrompt {
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-right: 265px;
    padding-bottom: 23px;
}

#searchUserInput {
    border-radius: 4px;
    border: 1px solid #5D5D5D;
    background: #FFF;
    display: flex;
    width: 351px;
    height: 25px;
    padding: 11px 17px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#goSearchUser {
    color: white;
    border-radius: 4px;
    border: 1px solid #5D5D5D;
    background: #530BAE;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    width: 388px;
    height: 47px;
    padding: 11px 17px;

    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#recommendButton {
    color: #1a8cc4;
    padding: 7px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-color: #b7e6fe00;
    background-color: #b7e6fe;
    transition: 0.3s ease;
    position: relative;
    font-size: .9em;
    cursor: pointer;
}

#recommendButton:hover {
    background-color: #dcf3ffe9;
}

#clearUserSearchButton {
    color: #1a8cc4;
    border-color: #b7e6fe00;
    background-color: #79caf200;
    font-size: .9em;
    cursor: pointer;
    margin-top: 20px;
}

#clearUserSearchButton:hover {
    font-weight: bold;
}

#followingContainer{
    padding: 15px;
    padding-bottom: 40px;
    background-color: #F5F0FF;
    border: 5px #055c87;
    margin-bottom: 10px;
    overflow-x: scroll;
}

#followingHeader {
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#following {
    display: inline-flex;
    padding: 8px 17px;
    align-items: center;
    gap: 10px;
    margin: 5px;
    border-radius: 4px;
    border: 0px #5D5D5D;
    background: #ffffff;
    color: #5D5D5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    transition: 0.2s ease;
    line-height: normal;
}

#following:hover {
    cursor: pointer;
    background-color: #FFF;
    box-shadow: 2px 2px 7px rgba(125, 125, 125, 0.232);
    transform: translate3d(0, -2px, 0) scale(1.05);
}

#user {
    cursor: pointer;
    color: #1a8cc4;
    font-size: 1.2em;
    margin-right: 10px;
}

#userToFollow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#noPlaylistSpacer {
    height: 400px;
}