#viewFriendsContainer {
    width: 100%;
    text-align: center;
    background-color: #5ab9ea;
    padding-top: 34.5px;
    height: 100%;
}

#followingContainer{
    padding: 15px;
    padding-bottom: 40px;
    background-color: hsl(200, 91%, 75%);
    border: 5px #055c87;
    margin-bottom: 10px;
}

#followingHeader {
    padding-bottom: 10px;
    color: #1a8cc4;
    font-weight: 200;
}

#following {
    display: inline;
    color: #1a8cc4;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #b7e6fe;
    transition: 0.3s ease;
    position: relative;
}

#following:hover {
    cursor: pointer;
    background-color: #dcf3ffe9;
}

#user {
    cursor: pointer;
    color: #1a8cc4;
    font-size: 1.1em;
}

#user:hover {
    font-weight: bold;
}

#discoverHeader {
    font-size: 2em;
}

#searchUsersContainer {
    background-color: #b0e5ff;
    padding: 20px;
    padding-bottom: 60px;
}

#searchUsersForm {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#searchUsersPrompt {
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #1a8cc4;
}

#recommendButton {
    color: #1a8cc4;
    padding: 7px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-color: #b7e6fe00;
    background-color: #b7e6fe;
    transition: 0.3s ease;
    position: relative;
    font-size: .9em;
    cursor: pointer;
}

#recommendButton:hover {
    background-color: #dcf3ffe9;
}

#clearUserSearchButton {
    color: #1a8cc4;
    border-color: #b7e6fe00;
    background-color: #79caf200;
    font-size: .9em;
    cursor: pointer;
    margin-top: 20px;
}

#clearUserSearchButton:hover {
    font-weight: bold;
}