#rate {
    display: inline;
    margin-left: 20px;
    height: 40px;
    border-radius: 7px;
    border: 1px;
    cursor: pointer;
}

#rate:hover {
    background-color: rgb(213, 213, 213);
}

#songPlayerFollowing {
    display: inline;
}

#songBorder {
    display: flex;
    justify-content: center;
    align-items: center;
}