h1 {
    font-size: 4em;
    display: inline;
    color: white;
}

#main {
    text-decoration: line-through;
    font-size: 3.8em;
    color: white;
}

#headerText {
    text-align: center;
    padding-top: 30px;
    padding: 30px;
}