#profileContainer {
    width: 50%;
    text-align: center;
    background-color: rgb(213, 159, 243);
}

#artist {
    padding-left: 20px;
}

#searchResult {
    cursor: pointer;
}

#searchResult:hover {
    font-weight: bold;
}