#profileContainer {
    width: 50%;
    text-align: center;
    background-color: #8860d0;
}

#artist {
    padding-left: 20px;
}

#searchResult {
    cursor: pointer;
}

#searchResult:hover {
    font-weight: bold;
}

#searchSongSection {
    background-color: #c3a3ff;
    padding: 20px;
    padding-bottom: 35px;
    color: #4b2295;
}

#profileHeader {
    font-size: 2em;
}

#searchSongPrompt {
    font-weight: bold;
}