#viewFriendsContainer {
    width: 50%;
    text-align: center;
    background-color: #5ab9ea;
}

#followingContainer{
    margin-top: 20px;
}

#following {
    display: inline;
    padding: 10px;
    padding-top: 20px;
}

#user {
    cursor: pointer;
}

#user:hover {
    font-weight: bold;
}

#following:hover {
    cursor: pointer;
    font-weight: bold;
}

#discoverHeader {
    font-size: 2em;
}

#searchUsersContainer {
    background-color: #b0e5ff;
    padding: 20px;
    padding-bottom: 60px;
}

#searchUsersForm {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#searchUsersPrompt {
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #1a8cc4;
}