#viewFriendsContainer {
    width: 50%;
    text-align: center;
    background-color: #5ab9ea;
    padding-top: 34.5px;
}

#followingContainer{
    padding: 15px;
    padding-bottom: 40px;
    background-color: #5ab9ea;
    border: 5px #055c87;
    box-shadow: 2px 4px 5px #055c87ab;
    margin-bottom: 10px;
}

#followingHeader {
    padding-bottom: 10px;
    color:rgb(0, 106, 162);
}

#following {
    display: inline;
    color: rgb(0, 106, 162);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    background-color: #97d5f4;
    transition: 0.3s ease;
    position: relative;
}

#following:hover {
    cursor: pointer;
    background-color: #cae9f8;
}

#user {
    cursor: pointer;
}

#user:hover {
    font-weight: bold;
}

#discoverHeader {
    font-size: 2em;
}

#searchUsersContainer {
    background-color: #b0e5ff;
    padding: 20px;
    padding-bottom: 60px;
}

#searchUsersForm {
    padding: 1em;
    display: flex;
    flex-direction: column;
}

#searchUsersPrompt {
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #1a8cc4;
}