#profileContainer {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    height: 100%;
    padding-bottom: 34.5px;
    padding-left: 230px;
}

#artist {
    padding-left: 20px;
}

#searchResult {
    cursor: pointer;
    color: black;
    background-color: rgba(0, 255, 183, 0.681);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 15px;
    margin-left: 30px;
    margin-left: 30px;
    transition: 0.2s ease;
}

#searchResult:hover {
    background-color: rgba(0, 255, 183);
    box-shadow: #744eba 2px 2px 5px;
}

#searchSongSection {
    background-color: #ffffff;
    padding-bottom: 35px;
    text-align: left;
}

#searchForm {
    text-align: left;
    align-content: center;
    flex-direction: column;
    display: flex;
    align-items: left;
    width: 90%;
}

#profileHeader {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: black;
    text-align: left;
    margin-bottom: 0px;
}

#iconNameContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
}

#profileName {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 15px;
    padding-top: 4px;
    margin-top: 0;
}

#searchSongPrompt {
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#searchInputs {
    display: flex;
    flex-direction: row;
}

.searchBox{
    border-radius: 4px;
    border: 1px solid #5D5D5D;
    background: #FFF;
    display: flex;
    width: 490px;
    height: 20px;
    padding: 11px 17px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#goSearch {
    color: white;
    border-radius: 4px;
    border: 1px solid #5D5D5D;
    background: #530BAE;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    height: 47px;
    padding: 11px 17px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1063px;
    flex-shrink: 0;
}

#goSearch:hover {
    background-color: #844fe6;
}

#clearSearchButton {
    color: #8860d0;
    font-size: 0.9em;
    border-color: #744eba00;
    background-color: #744eba00;
    cursor: pointer;
}

#clearSearchButton:hover {
    font-weight: bold;
}

#logoutContainer {
    display: flex;
    justify-content: right;
}

#logoutButton {
    display: block;
    border-radius: 8px;
    background-color: white;
    border: #ffffff00;
    color: rgb(0, 0, 0);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    margin-right: 450px;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

#logoutButton:hover {
    text-decoration: underline;
}

#analyzeButton {
    color: white;
    border-radius: 4px;
    border: 1px solid #5D5D5D;
    background: #530BAE;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    width: auto;
    height: 47px;
    padding: 11px 17px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    flex-shrink: 0;
}

#analyzeButton:hover {
    background-color: #844fe6;
}